<ion-header class="ion-no-border" *ngIf="showPage">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>

        <div><img src="assets/logo.png"></div>

    </ion-toolbar>
    <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content *ngIf="showPage">
    <ion-row>
        <ion-col class="ion-padding-top" size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6"
            offset-lg="3" size-xl="4" offset-xl="4">

            <div class="titulo-container">
                <label>Redefinir senha</label>
            </div>
            <div class=" label-subtitulo">Insira e confirme sua nova senha acessar a sua
                conta.
            </div>
            <ion-card-content class="ion-padding-top">
                <ion-list class="ion-no-margin ion-no-padding">
                    <ion-item mode="md">
                        <ion-label position="floating" class="label-font">
                            Nova senha
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input type="password" name="password" required="true" maxlength="50"
                            [(ngModel)]="user.password">
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating" class="label-font">
                            Confirme a nova senha
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input type="password" name="confirmPassword" required="true" maxlength="50"
                            [(ngModel)]="user.confirmPassword">
                        </ion-input>
                    </ion-item>
                    <ion-text color="danger" class="danger"
                        *ngIf="(user.password != user.confirmPassword) && user.confirmPassword != null"> As senhas
                        não combinam.
                    </ion-text>
                </ion-list>
                <ion-button expand="block" mode="ios" class="ion-margin-top" [disabled]="isLoading"
                    (click)="resetPassword()">
                    Enviar
                </ion-button>
            </ion-card-content>
        </ion-col>
    </ion-row>
</ion-content>
<ion-row class="ion-justify-content-center" *ngIf="showPage">
    <ion-col class="padding-page">
        <ion-img src="assets/bottom.jpg"></ion-img>
    </ion-col>
</ion-row>