<ion-content class="background">
    <!-- <ion-header class="ion-no-border"> -->
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login" class="ion-padding start" icon="chevron-back-outline">
            </ion-back-button>
        </ion-buttons>
        <!--     <div><img src="assets/logo.png"></div>
 -->
    </ion-toolbar>
    <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
    <!-- </ion-header> -->

    <ion-row>
        <ion-col class="ion-padding-top colPage" size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2"
            size-lg="6" offset-lg="3" size-xl="4" offset-xl="4">

            <div class="ion-text-center">
                <img src="assets/logo.png">
            </div>
            <div class="titulo-container">
                <label>Recuperar senha</label>
            </div>
            <div class=" label-subtitulo">Insira o seu email e enviaremos um link para você voltar a acessar a sua
                conta.
            </div>
            <ion-card-content>
                <ion-list>
                    <ion-item mode="md">
                        <ion-label position="floating" class="label-font">
                            E-mail
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input type="email" name="username" required="true" maxlength="50" email
                            [(ngModel)]="user.username" >
                        </ion-input>
                    </ion-item>
                </ion-list>
                <ion-button expand="block" mode="ios" class="ion-margin-top" [disabled]="isLoading"
                    (click)="forgotPassword()">
                    Enviar
                </ion-button>
            </ion-card-content>
        </ion-col>
    </ion-row>
</ion-content>