ion-checkbox {
  zoom: 1.5;
}

ion-header {
  border-bottom: outset 2px;
}

ion-toolbar {
  text-align-last: center;
  padding-right: 40px;
}

.titulo-container {
  text-align: center;
  padding: 40px 60px 0 60px;
  font-size: 27px;
  font-weight: 700;
  color: cornflowerblue;
}

.container {
  display: flex;
}

.vertical-center {
  justify-content: center;
  align-items: center;
}

.item {
  flex: 1;
}

.text-center {
  text-align: center;
}

img {
  width: 12rem;
}

.padding-page {
  padding-inline-start: 0px !important;
  padding-inline-end: 0px !important;
  padding-bottom: 0px !important;
}

.label-subtitulo {
  font-size: 15px;
  padding: 50px 50px 20px 50px;
}

.label-font {
  font-size: 14px;
}

.text-button {
  font-size: 12px;
  vertical-align: middle;
  text-decoration: underline;
}

.danger {
  font-size: 12px;
}


.ion-margin-top {
  margin-top: 50px !important;
}

.label-subtitulo {
  font-size: 15px;
  padding: 50px 50px 20px 50px;
}

.colPage {
  padding-top: 6.0rem !important;
}

ion-card-content {
  margin-top: 3rem !important;
}