.ion-label-title {
    color: black;
    font-weight: bold;
}

.ion-label-subtitle {
    font-size: smaller;
}

ion-radio {
    height: 1em;
    width: 1em;
}
.ion-card-title-greenlight{
    font-weight: 590;
    font-size: inherit;
    color: #7db495;
    text-align: center;
}